.root {
    -fx-background-color: #d1d2bf;
    -fx-font-size: 9pt;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.button {
    -fx-text-fill: #cba46a;
    -fx-font-weight: bold;
    -fx-background-color: #47484a;
}

.button:hover {
    -fx-scale-x: 1.03;
    -fx-scale-y: 1.03;
    -fx-effect: dropshadow( gaussian , #343236 , 0,2,0,2 );
}

.list-view {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-control-inner-background: #E1E2D6;
}

.label {
    -fx-text-fill: #343236;
    -fx-font-size: 10pt;
}

#scenetitle {
    -fx-fill: #343236;
}

.text-field {
    -fx-background-color: honeydew;
}

#opponentTimer {
    -fx-font-weight: bold;
}

#yourTimer{
    -fx-font-weight: bold;
}
